@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262d3e;
  color: #fff;
  padding: 15px 60px;
}

nav.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

nav.navbar .logo img {
  width: 35px;
  margin-right: 4px;
}

nav.navbar .links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav.navbar .links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  word-spacing: 4px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
}
nav.navbar .links ul li a:hover {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  word-spacing: 4px;
  font-size: 14px;
  background-color: #ffffff35;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
}

.navbar .links ul li a.active {
  background-color: #111827;
}
.navbar .links ul li a.active:hover {
  background-color: #111827;
}

.navbar .search {
  padding: 10px;
  background-color: #374151;
  border-radius: 5px;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: space-between;
}


.search input {
  background-color: transparent;
  border: 0;
  color: #fff;
  margin-left: 10px;
  width: 100%;
  outline: none;
}

.search input::placeholder {
  color: #777f8d;
}

.search i {
  color: #777f8d;
}

.navbar .cart svg {
  width: 30px;
}

.signin {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.signin span {
  color: #9297a1;
  font-size: 17px;
}

.signin a {
  text-decoration: none;
  color: #e9eaec;
}

.search-cart-signin {
  display: flex;
  width: 490px;
  align-items: center;
  justify-content: space-between;
}
